.main_Wrappre {
   color : red;
   font-size : 0.2em;
   font: 100px;
}

.page_wrapper {
    font-family: Courier New, Courier, monospace;
    font-size: 100px;
    font-weight: bold;

}

.page_wrapper {
    font-family: Courier New, Courier, monospace;
    font-size: 100px;
    font-weight: bold;

}

.page_wrapper {
    font-family: Courier New, Courier, monospace;
    font-size: 100px;
    font-weight: bold;

}

.page_wrapper {
    font-family: Courier New, Courier, monospace;
    font-size: 100px;
    font-weight: bold;

}